body {
  background-color: hsl(208, 100%, 97%);
  color: aliceblue;
}

.header {
  background-color: rgb(204, 32, 89);
}

.bodyHeader {
  background-color: rgb(180, 44, 90);
}

.artwork {
  background-color: rgb(204, 32, 89);
}

.agents {
  background-color: rgb(180, 44, 90);
}
